<header>
  <nav class="navbar">
    <div class="container-fluid">
      <div class="navbar-collapse">
        <ul class="nav navbar-nav navbar-right header-ul">
          <% if user_signed_in? %>
            <li>
              <%= link_to 'SKU Combination Creation',sku_combination_creation_users_path %>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle user-top" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <span class="log-in-user">
                  <i class="fa fa-user user-icon"></i>
                  <%= user_name %>
                </span>
              </a>
            </li>
            <li><%= link_to 'Logout',destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li class="account-btn"><%= link_to 'SignUp', new_user_registration_path %></li>
            <li class="account-btn"><%= link_to 'Login', new_user_session_path %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>
