<!DOCTYPE html>
<html>
  <head>
    <title>SkuSimpleApp</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="show_loder_image"></div>
    <div id="wrapper">
      <%= render partial: 'shared/header' %>
      <%= render 'shared/flash' %>
      <main>
        <div class="container">
          <%= yield %>
        </div>
      </main>
    </div>
  </body>
</html>
